<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/film-movie-maker-youtube-channel-art-banner-design-template-452b518153abfc71ca929b93e3fc267f_screen.jpg?ts=1588568089);">
  <div class="container">
    <h1>My wish list</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-6">
        <div class="card-category mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.lepointdufle.net/ia/cinema1.jpg)">
          <%= link_to list.name, list_path(list) %>
        </div>
      </div>
      <%end %>
  </div>
  <%= link_to 'Create a list', new_list_path, class: 'btn btn-ghost mt-5'%>
</div>
