<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.leparisien.fr/resizer/_Qgf9Z9wEwKqJdaGeGBaggxPA1s=/1280x800/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/HAJOUE72SD4OBCQ7GZVVBZ3ZAQ.jpg);">
  <div class="container">
    <h1>Create your list</h1>
  </div>
</div>
  <%= simple_form_for(@list) do |f|  %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-ghost'%>
  <% end %>
  <hr>
  <%= link_to lists_path do%>
  <i class="fa fa-history"></i> Back to list
  <% end %>
<div style="height: 400px;">
</div>
</div>
