<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img6.acsta.net/newsv7/21/12/22/20/01/2678549.jpg)">
    <h1>>Create a list</h1>
  </div>
  <%= simple_form_for(@list) do |f|  %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-primary'%>
  <% end %>
  <hr>
  <%= link_to lists_path do%>
  <i class="fa fa-history"></i> Back to list
  <% end %>

</div>
