<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/vecteurs-libre/fond-film-cinema-pop-corn-pellicule-clins-billets-fond-temps-film_41737-248.jpg?size=626&ext=jpg)">
    <h1>Create a list</h1>
  </div>
  <%= simple_form_for(@list) do |f|  %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-primary'%>
  <% end %>
  <hr>
  <%= link_to lists_path do%>
  <i class="fa fa-history"></i> Back to list
  <% end %>
<div style="height: 400px;">
</div>
</div>
